@import '_mixins';

#messages-wrapper {
	display: flex;
	padding-top: 20px;
	flex-direction: column;
	align-items: flex-start;
	overflow-y: scroll;
}

.message-block {
	display: inline-block;
	padding: 20px;
	margin: 10px;
	background-color: $system-message;
	border-radius: 10px;
	color: $color-white;
	min-width: 200px;
	max-width: 80%;
	text-align: center;
	position: relative;
	font-size: 16px;
	font-family: map-get($fonts, font1);
	
	&:before {
		content: " ";
		border-right: 20px solid $system-message;
    position: absolute;
    left: -10px;
    border-bottom: 10px solid $transparent;
    border-top: 10px solid $transparent;
    border-left: 0;
    bottom: 0px;
	}
	
	&[data-role="user-input"] {
		color: $system-message;
		background-color: $color-white;
		align-self: flex-end;
		
		&:before {
			content: none;
		}
		
		&:after {
			content: " ";
			border-left: 20px solid $color-white;
			position: absolute;
			right: -10px;
			border-bottom: 10px solid $transparent;
			border-top: 10px solid $transparent;
			border-right: 0;
			bottom: 0px;
		}
	}
}